<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>应用详情</title>
  <link rel="stylesheet" href="../static/css/detail.css">
</head>
<body>
  <div class="content">
    <h1 class="heading">应用详情</h1>
    <p class="description">Hover over a card to flip it.</p>
    <div class="previous">
      <a href="index">
        <img src="../static/images/back.png" alt="">
        <span>返回上一页</span>
      </a>
    </div>
    <a class="card" href="dish">
      <div class="front" style="background-image: url(../static/images/559.png);">
        <p>菜品识别</p>
        <hr>
        <span>Vegetable identification</span>
      </div>
      <div class="back">
        <div>
          <p>基于百度AI的菜品识别</p>
          <p>适用于上传一张菜品图片，可以是别出最相似的3种菜品，涉及到的技术有：python-flask、Juery、百度API</p>
          <a class="button">点击演示</a>
        </div>
      </div>
    </a>
    <a class="card" href="plant">
      <div class="front" style="background-image: url(../static/images/561.png);">
        <p>植物识别</p>
        <hr>
        <span>Plant recognition</span>
      </div>
      <div class="back">
        <div>
          <p>基于百度AI的植物识别</p>
          <p>适用于上传一张植物图片，可以是别出最相似的3种植物，涉及到的技术有：python-flask、Juery、百度API</p>
          <a class="button">点击演示</a>
        </div>
      </div>
    </a>
    <a class="card" href="animal">
      <div class="front" style="background-image: url(../static/images/560.png);">
        <p>动物识别</p>
        <hr>
        <span>Animal recognition</span>
      </div>
      <div class="back">
        <div>
          <p>基于百度AI的动物识别</p>
          <p>适用于上传一张动物图片，可以是别出最相似的3种动物，涉及到的技术有：python-flask、Juery、百度API</p>
          <a class="button">点击演示</a>
        </div>
      </div>
    </a>
  </div>
</body>
</html>
