<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>应用详情</title>
  <link rel="stylesheet" href="../static/css/detail.css">
</head>
<body>


<div class="content">
  <h1 class="heading">应用详情</h1>
  <p class="description">Hover over a card to flip it.</p>
  <div class="previous">
    <a href="index">
      <img src="../static/images/back.png" alt="">
      <span>返回上一页</span>
    </a>
  </div>
  <div class="card">
      <a href="conv">
          <div class="front sxt" style="background-image: url(../static/images/sxt.png);">
              <p>手写体识别</p>
              <hr>
              <span>Handwriting Recognition</span>
            </div>
            <div class="back">
              <div>
                <p>基于TensorFlow+MNIST实现卷积神经网络图像识别</p>
                <p>适用于手动在网页上写数字，手写完成，即可识别出手写的数字，并返回对应的数字，涉及的技术有TensorFlow、MNIST、canvas、jquery</p>
                <button class="button">点击演示</button>
              </div></div>
      </a>
  </div>
</div>
</body>
</html>
